@using WebShopBlazor.Data


@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (Product p in Products)
            {
                <div class="col-3 m-1">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Product-image">
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <p class="card-text">@p.Name</p>
                            <h6 class="card-text">Price: </h6>
                            <p class="card-text">@p.Price kr</p>
                            <a href="#" class="btn btn-primary">Details</a>
                            <button class="btn btn-success">Add to Cart</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}



@code{
    [Parameter]
    public Product[] Products { get; set; }
}