@page "/products"
@using WebShopBlazor.Data
@inject ProductService ProductService


    <h1>Product overview</h1>
    <p>just some more crap</p>

    @*<h3>ProductFuckingPage</h3>*@

    <CardComponent Products="products"></CardComponent>


    @code {
        private Product[] products;

        protected override async Task OnInitializedAsync()
        {
            products = await ProductService.GetProductAsync();
        }
    }
